function Snake.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push constant 132
pop this 4
push constant 1
pop this 3
push argument 0
push argument 1
call SnakeParts.new 2
pop this 5
push pointer 0
push argument 0
push argument 1
push constant 1
neg
call Snake.drawFinal 4
pop temp 0
push pointer 0
return
function Snake.drawFinal 0
push argument 0
pop pointer 0
push argument 3
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push this 2
add
push argument 2
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Snake.draw 1
push argument 0
pop pointer 0
push this 5
push this 0
push this 1
call SnakeParts.push 3
pop temp 0
push this 3
push this 5
call SnakeParts.getSize 1
lt
not
if-goto ifL2
push this 5
call SnakeParts.pop 1
pop local 0
push pointer 0
push local 0
call List.getX 1
push local 0
call List.getY 1
push constant 0
call Snake.drawFinal 4
pop temp 0
goto ifL3
label ifL2
label ifL3
push pointer 0
push this 0
push this 1
push constant 1
neg
call Snake.drawFinal 4
pop temp 0
push constant 0
return
function Snake.move 0
push argument 0
pop pointer 0
push this 4
push constant 130
eq
not
if-goto ifL4
push this 0
push this 2
sub
pop this 0
goto ifL5
label ifL4
label ifL5
push this 4
push constant 131
eq
not
if-goto ifL6
push this 1
push this 2
sub
pop this 1
goto ifL7
label ifL6
label ifL7
push this 4
push constant 132
eq
not
if-goto ifL8
push this 0
push this 2
add
pop this 0
goto ifL9
label ifL8
label ifL9
push this 4
push constant 133
eq
not
if-goto ifL10
push this 1
push this 2
add
pop this 1
goto ifL11
label ifL10
label ifL11
push constant 0
return
function Snake.increaseLength 0
push argument 0
pop pointer 0
push this 3
push constant 1
add
pop this 3
push constant 0
return
function Snake.eat 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Food.getX 1
eq
push this 1
push argument 1
call Food.getY 1
eq
and
not
if-goto ifL12
push constant 1
neg
return
goto ifL13
label ifL12
push constant 0
return
label ifL13
function Snake.crash 0
push argument 0
pop pointer 0
push this 0
push constant 0
lt
push this 0
push constant 509
gt
or
push this 1
push constant 0
lt
or
push this 1
push constant 249
gt
or
not
if-goto ifL14
push constant 1
neg
return
goto ifL15
label ifL14
push constant 0
return
label ifL15
function Snake.selfCrash 0
push argument 0
pop pointer 0
push this 5
call SnakeParts.crash 1
return
function Snake.setDirection 2
push argument 0
pop pointer 0
push argument 1
push constant 2
add
pop local 0
push argument 1
push constant 2
sub
pop local 1
push this 4
push local 1
eq
not
not
if-goto ifL16
push this 4
push local 0
eq
not
not
if-goto ifL18
push argument 1
pop this 4
goto ifL19
label ifL18
label ifL19
goto ifL17
label ifL16
label ifL17
push constant 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
