function Main.main 2
push constant 1
pop local 0
push constant 1
neg
pop local 1
push local 0
neg
call Output.printInt 1
pop temp 0
push local 1
not
call Output.printInt 1
pop temp 0
push constant 0
return
