function Main.main 2
push constant 0
pop local 1
label forL4
push local 1
push constant 100
lt
not
if-goto forL7
goto forL5
label forL6
push local 1
push constant 1
add
pop local 1
goto forL4
label forL5
push local 0
push local 1
add
pop local 0
goto forL6
label forL7
push local 0
call Output.printInt 1
pop temp 0
push constant 0
return
