function Queue.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
call Array.new 1
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push pointer 0
return
function Queue.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push constant 0
return
function Queue.pop 0
push argument 0
pop pointer 0
push this 1
push constant 1
add
pop this 1
push this 0
push this 1
push constant 1
sub
add
pop pointer 1
push that 0
return
function Queue.peek 0
push argument 0
pop pointer 0
push this 0
push this 1
add
pop pointer 1
push that 0
return
function Queue.isEmpty 0
push argument 0
pop pointer 0
push this 1
push this 2
eq
return
function Queue.push 0
push argument 0
pop pointer 0
push this 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 2
push constant 1
add
pop this 2
push constant 0
return
